<div class="big-card__container">
  <div class="big-card__photo">
    <img
      src="https://images.ctfassets.net/ihx0a8chifpc/GTlzd4xkx4LmWsG1Kw1BB/ad1834111245e6ee1da4372f1eb5876c/placeholder.com-1280x720.png?w=1920&q=60&fm=webp"
      alt=""
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <a href="">
      <h1>Placeholder</h1>
    </a>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero consequatur
      est enim asperiores. Laboriosam, sapiente optio harum magnam nostrum
      obcaecati voluptatem excepturi molestiae, itaque, rem modi. Reprehenderit
      porro velit laboriosam.
    </p>
  </div>
</div>
