<app-menu-title></app-menu-title>

<div class="articles__container">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://i.pinimg.com/736x/fd/8e/05/fd8e051e99afeb4493b7daa96850405c.jpg"
      cardTitle="PLACEHOLDER MAIN"
      cardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero consequatur est enim asperiores. Laboriosam, sapiente optio harum magnam nostrum obcaecati voluptatem excepturi molestiae, itaque, rem modi. Reprehenderit porro velit laboriosam."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://i.pinimg.com/736x/41/d1/f6/41d1f6b1fc058cecab46e1930337cb79.jpg"
      cardTitle="PLACEHOLDER 1"
    ></app-small-card>
    <app-small-card
      id="3"
      photoCover="https://i.pinimg.com/736x/9b/63/76/9b63768f23a799d68416f18571e4fbc7.jpg"
      cardTitle="PLACEHOLDER 2"
    ></app-small-card>
    <app-small-card
      id="40"
      photoCover="https://i.pinimg.com/736x/d7/2b/00/d72b002a7f919ed119b9777b5acde9e8.jpg"
      cardTitle="PLACEHOLDER 3"
    ></app-small-card>
  </div>
</div>
