header {
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 20px;
}

.menu-bar__list {
  display: flex;
  flex-direction: row;
}

.menu-bar__list > li > a:hover {
  color: gold;
  transition: 0.2s;
}

.menu-bar__list > li {
  margin: 20px;
  list-style: none;
}
