header {
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.menu-bar__list {
  display: flex;
  flex-direction: row;
}

.menu-bar__list > li {
  margin: 20px;
  list-style: none;
}
